<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <BaseGamePath>F:/SteamLibrary/steamapps/common/Casualties Unknown Demo</BaseGamePath>
    <CUCoreLibDll>$(BaseGamePath)/BepInEx/plugins/CUCoreLib.dll</CUCoreLibDll>
    <KrokoshaCasualtiesMPDll>$(BaseGamePath)/BepInEx/plugins/KrokMP/KrokoshaCasualtiesMP.dll</KrokoshaCasualtiesMPDll>
    <BarkDll>$(BaseGamePath)/BepInEx/plugins/Bark/Bark.dll</BarkDll>
    <RshLibDll>E:/Downloads/RshLib.dll</RshLibDll>
    <!-- <GameManagedDir>$(BaseGamePath)\CasualtiesUnknown_Data\Managed</GameManagedDir> -->
    <!-- <BepInExDir>$(BaseGamePath)\BepInEx</BepInExDir> -->
  </PropertyGroup>
</Project>
