<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <BaseGamePath>F:/SteamLibrary/steamapps/common/Casualties Unknown Demo</BaseGamePath>
    <CUCoreLibDll>F:/SteamLibrary/steamapps/common/Casualties Unknown Demo/BepInEx/plugins/CUCoreLib.dll</CUCoreLibDll>
    <KrokoshaCasualtiesMPDll>F:/SteamLibrary/steamapps/common/Casualties Unknown Demo/BepInEx/plugins/KrokMP/KrokoshaCasualtiesMP.dll</KrokoshaCasualtiesMPDll>
    <BarkDll>F:/SteamLibrary/steamapps/common/Casualties Unknown Demo/BepInEx/plugins/Bark/Bark.dll</BarkDll>
    <!-- <GameManagedDir>$(BaseGamePath)\CasualtiesUnknown_Data\Managed</GameManagedDir> -->
    <!-- <BepInExDir>$(BaseGamePath)\BepInEx</BepInExDir> -->
  </PropertyGroup>
</Project>
